/* General Styling */
body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.3rem;
    color: #010201;
    margin: 0;
    padding: 0;
    background-image: repeating-linear-gradient(to right, rgba(255, 191, 202, 0.35), rgba(255, 191, 202, 0.10) 1px, transparent 1px, transparent);
    background-size: 15px 15px;
    background-color: #f4f4f4;
}

/* Navigation Bar */
.navbar {
    background-color: #3a7d44;
    position: relative;
    padding: 2px 0;
    top: 0;
    left: 0;
    width: 100%;
}

.navbar ul {
    background-color: #d0db97;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 1.25rem 2.5rem;
    gap: 2rem; 
    list-style: none; 
}

.navbar a {
    background-color: #3a7d44;
    color: white;
    font-size: 1.25rem;
    padding: 0.75rem 1.5rem;
    border-radius: 1.25rem;
    text-decoration: none;
    cursor: pointer;
}

.navbar a:hover {
    background-color: #254d32;
}

/* Main Section (Images with Links Styled as a Button */
.homepage-h1 {
    display: flex;
    justify-content: center;
}

.homepage-h2 {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.homepage-pet-pair-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.homepage-pet-container { 
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.home-image {
    max-height: 500px;
    max-width: 500px;
    border-radius: 2rem;
    border: 10px solid pink;
    margin-top: 10px;
}

.homepage-cat-link, .homepage-dog-link {
    background-color: #3a7d44;
    color: white;
    padding: 1.5rem 2rem;
    border-radius: 2rem;
    text-decoration: none;
    cursor: pointer;
}

.homepage-cat-link a:hover {
    background-color: #254d32;
}

.homepage-dog-link a:hover {
    background-color: #254d32;
}

/* Cat and Dog page styling */
.game-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-page-heading {
    text-align: center;
}

#breedsSelector {
    background-color: rgb(237, 237, 237);
    border-radius: 0.5rem;
    padding: 0.5rem;
}

#catContainer, #dogContainer {
    text-align: center;
    padding: 1rem 2rem;
}

#catContainer img:hover, #dogContainer img:hover {
    cursor: grab;
}

img {
    max-height: 400px;
    max-width: 400px;
    border-radius: 2rem;
    border: 10px solid pink;
    margin-top: 10px;
}

/* Tablet style CSS */

@media (max-width: 1024px) {
    body {
        background-color: teal;
        font-size: 1.1rem;
        padding-top: 1.5rem;
    }

    .home-image {
        max-height: 350px;
        max-width: 350px;
        border-radius: 2rem;
        border: 5px solid pink;
    }
}

/* Mobile style CSS */

@media (max-width: 650px) {
    body {
        background-color: maroon;
        font-size: 1.1rem;
        padding-top: 10px;
    } 

    .navbar ul {
        background-color: #d0db97;
        display: flex;
        justify-content: right;
        align-items: center;
        padding: 1.25rem 2.5rem;
        gap: 1rem; 
        list-style: none; 
    }

    .navbar a {
        background-color: #3a7d44;
        color: white;
        font-size: 1rem;
        padding: 0.25rem 0.75rem;
        border-radius: 1.25rem;
        text-decoration: none;
        cursor: pointer;
    }

    .homepage-pet-pair-container {
        flex-direction: column;
    }

    .home-image {
        max-height: 200px;
        max-width: 200px;
        border-radius: 2rem;
        border: 3px solid pink;


    }
}