/* Color Palette 1 */
color pallete 1{
    background-color: #0267C1;
    #0075C4
    #EFA00B
    #D65108
    #591F0A
}


General Page Styling
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

/* Navigation Bar */
.navbar {
    background-color: yellow;
    position: relative;
    padding: 2px 0;
    top: 0;
    left: 0;
    width: 100%;
}

.navbar ul {
    background-color: cyan;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 1rem 2rem;
    gap: 2rem; 
    list-style: none; 
}

.navbar a {
    color: darkblue;
    font-size: 1.25rem;
    padding: 1rem;
    border-radius: 5px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: lightgray;
}

/* Main Section (Images and Links Styled as Button */
.homepage-images {
    display: flex;
    justify-content: space-evenly;
}

.homepage-links { 
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
    padding: 1rem;
}

.homepage-links a {
    background-color: #199319;
    color: white;
    padding: 1rem 2rem;
    border-radius: 2rem;
    text-decoration: none;
}

.homepage-heading {
    margin-top: 2rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
}
 
img {
    max-height: 400px;
    max-width: 400px;
    border-radius: 2rem;
    border: 10px solid pink;
    margin-top: 10px;
}

.home-image {
    max-height: 200px;
    max-width: 200px;
    border-radius: 2rem;
    border: 10px solid rgb(158, 156, 156);
    margin-top: 10px;
}